extends ../layout/index

block content
  div#verify-admin-email
    p
      | Hi <strong>admin</strong>,
    p
      | You received this email because your email is set as one of admin email. There is a request to create an admin account with following information:
      ul
        li
          | Email:   <strong>!{_data.userInfo.email}</strong>
        li
          | First name:   <strong>!{_data.userInfo.firstName}</strong>
        li
          | Last name:   <strong>!{_data.userInfo.lastName}</strong>
    p
      | Please review it then click this button to verify:
    div.block
      table.button.large.expand
        tr
          td
            table
              tr
                td
                  a.float-center(href= _data.verificationLink, align='center') Confirm this account
    p.note
      | If the button doesn't work, copy & paste this link into your browser:
      br
      br
      a.copy-link(href=_data.verificationLink) !{_data.verificationLink}
      br
      br
      | Note: <em>The link will expire in 1 hour.</em>
    div.block
      p
        | Thanks and Best regards,
        br
        strong DevSavior Team
