extends ../layout/index

block content
  div#contact-admin
    p
      | Hi <strong>admin</strong>, There is a contact message from our customer. Detail information:
      br
    p
      | From:   <strong>!{`${_data.name}`}</strong>
    p
      | Email:   <strong>!{`${_data.email}`}</strong>
    p
      | About:   <strong>!{`${_data.subject}`}</strong>
    p
      | Content:   <strong>!{`${_data.message}`}</strong>
