extends ../layout/index

block content
  div#contact-admin
    p.greeting
      | Hi <strong>admin</strong>, 
    p
      | There is a contact message from our customer. Detail:
      br
      ul
        li
          | From:   <strong>!{`${_data.name}`}</strong>
        li
          | Email:   <strong>!{`${_data.email}`}</strong>
        li
          | About:   <strong>!{`${_data.subject}`}</strong>
        li
          | Content:   <strong>!{`${_data.message}`}</strong>
